
<!-- Modal -->
<div class="modal fade" id="authorModalFormContainer" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <form action="/author/create" id="sendModalForm" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить автора</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form-outline">
                        <input type="text" id="name" value="" name="name" class="form-control"/>
                        <label class="form-label" for="name">Имя</label>
                    </div>

                    <div class="form-outline" style="margin: 10px 0 10px 0">
                        <input type="text" id="surname" value="" name="surname" class="form-control"/>
                        <label class="form-label" for="surname">Фамилия</label>
                    </div>

                    <div class="form-outline" style="margin: 10px 0 10px 0" >
                        <input type="text" id="middlename" value="" name="middlename"
                               class="form-control"/>
                        <label class="form-label" for="middlename">Отчество</label>
                    </div>

                    <div class="form-outline select-wrapper" style="display: flex; " >
                        <label class="form-label select-label" style="width: 15%; padding-left: 10px" > Книги </label>
                        <select class="select" name="books_id[]" value="" multiple
                                style="width: 85%; height: 250px; margin-left: auto; border-radius: 4px; padding:5px; border: 1px gainsboro solid">
                            <option value="">Выбрать книги </option>
                            {% for item in books %}
                                <option value="{{ item.id }}">{{ item.title }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button onclick="createAuthor(event, '#sendModalForm')" type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</div>