{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <div class="container">

        <div style="display: flex; margin: 20px 0 20px 0;">

            <h5> {{ title }}</h5>

            <div style="margin-left: auto">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#authorModalFormContainer">
                    Добавить автора
                </button>

                <div class="response-success-message" ></div>

                {% include 'author/form.html.twig' %}

            </div>
        </div>

        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th>№</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Show</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>

            {% for item in authors %}
                <tr>
                    <td>
                        <div class="d-flex align-items-center">{{ item.id }}</div>
                    </td>
                    <td><p class="fw-normal mb-1">{{ item.name }}</p></td>
                    <td><p class="fw-normal mb-1">{{ item.surname }}</p></td>
                    <td><p class="fw-normal mb-1">{{ item.middlename }}</p></td>
                    <td><a href="/author/item/{{ item.id }}">Просмотр</a></td>
                    <td><a href="/author/delete/{{ item.id }}">Delete</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock %}
