{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <div class="container">

        <div style="display: flex; margin: 20px 0 20px 0;">

            <h5> {{ title }} </h5>

            <div style="display: flex; margin:0 20px 20px 20px">
                <div class="badge badge-success rounded-pill" style="font-size: 16px;"> Фамилия: {{ author.surname }}</div>
                <div class="badge badge-success rounded-pill" style="font-size: 16px; margin: 0 10px 0 10px"> Имя: {{ author.name }}</div>
                <div class="badge badge-success rounded-pill" style="font-size: 16px;"> Отчество: {{ author.middlename }}</div>
            </div>

            <div style="margin-left: auto">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#authorModalFormContainer">
                    Редактировать
                </button>

                <!-- Modal -->
                <div class="modal fade" id="authorModalFormContainer" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <form  id="sendModalForm" method="post">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Редактировать автора</h5>
                                    <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-outline">
                                        <input type="text" id="name" value="{{ author.name }}" name="name" class="form-control"/>
                                        <label class="form-label" for="name">Имя</label>
                                    </div>

                                    <div class="form-outline" style="margin: 10px 0 10px 0">
                                        <input type="text" id="surname" value="{{ author.surname }}" name="surname" class="form-control"/>
                                        <label class="form-label" for="surname">Фамилия</label>
                                    </div>

                                    <div class="form-outline">
                                        <input type="text" id="middlename" value="{{ author.middlename }}" name="middlename"
                                               class="form-control"/>
                                        <label class="form-label" for="middlename">Отчество</label>
                                    </div>

                                    <div class="form-outline select-wrapper" style="display: flex; " >
                                        <label class="form-label select-label" style="width: 15%; padding-left: 10px" > Книги </label>
                                        <select class="select" name="books_id[]" value="" multiple
                                                style="width: 85%; height: 250px; margin-left: auto; border-radius: 4px; padding:5px; border: 1px gainsboro solid">
                                                <option value="">Выбрать книги </option>
                                                {% for item in books %}
                                                    <option value="{{ item.id }}">{{ item.title }}</option>
                                                {% endfor %}
                                        </select>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                                    <button onclick="updateAuthor(event, '#sendModalForm', {{ author.id }})"  type="submit" class="btn btn-primary">Сохранить</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>

        <div class="card" >
            <div class="card-body" style="display: flex">
                <div>
                    <p class="card-text" > {{ author.surname }}</p>
                    <p class="card-text" > {{ author.name }}</p>
                    <p class="card-text" > {{ author.middlename }}</p>
                </div>
                <div style="margin-left: 40px; padding-left: 40px; border-left: 1px gainsboro solid">
                    <h5 class="card-title"> Книги </h5>
                    <ul>
                        {% for key, item in author.books %}
                          <li class="card-text" > {{ item.title }} </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
