<!-- Modal -->
<div class="modal fade" id="bookModalFormContainer" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">

        <form method="post" id="sendBookForm" enctype="multipart/form-data" >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить книгу</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="model-response-message" ></div>

                    <div class="form-outline">
                        <input type="text" id="title" value="" name="title" class="form-control"/>
                        <label class="form-label" for="title">Название</label>
                    </div>

                    <div class="form-outline" style="margin: 10px 0 10px 0">
                        <input type="text" id="year" value="" name="year" class="form-control"/>
                        <label class="form-label" for="year">Год</label>
                    </div>

                    <div class="form-outline" style="margin: 10px 0 10px 0">
                        <input type="text" id="isbn" value="" name="isbn" class="form-control"/>
                        <label class="form-label" for="isbn">ISBN</label>
                    </div>

                    <div class="form-outline" style="margin: 10px 0 10px 0">
                        <input type="text" id="list_count" value="" name="list_count"
                               class="form-control"/>
                        <label class="form-label" for="list_count">Кол / страниц</label>
                    </div>

                    <div class="form-outline" style="display: flex; margin: 10px 0 10px 0">
                        <label class="form-label" for="icon_url" style="width: 40%; padding-left: 10px">Иконка</label>
                        <input type="file" class="form-control" id="icon_url" value="" name="icon_url"
                               style="width: 60%; margin-left-left: auto"/>
                    </div>

                    <div class="form-outline select-wrapper" style="display: flex; " >
                        <label class="form-label select-label" style="width: 20%; padding-left: 10px" > Авторы </label>
                        <select class="select" name="authors_id[]" value="" multiple
                                style="width: 80%; height:250px; padding:5px; margin-left: auto; border-radius: 4px; border: 1px gainsboro solid">
                            <option value="">Выбрать авторов</option>
                            {% for item in authors %}
                                <option value="{{ item.id }}">{{ item.name }}  {{ item.surname }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button onclick="createBook(event, '#sendBookForm')" type="submit" class="btn btn-primary">Сохранить</button>
                </div>

            </div>
        </form>

    </div>
</div>
