{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <div class="container">

        <div style="display: flex; margin: 20px 0 20px 0;">

            <h5> {{ title }}</h5>


            <div style="margin-left: auto">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-mdb-toggle="modal"
                        data-mdb-target="#bookModalFormContainer">
                        Добавить книгу
                </button>

                <div class="response-success-message" ></div>

                {% include 'book/form.html.twig' %}

            </div>
        </div>

        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Год</th>
                <th>ISBN</th>
                <th>Кол / страниц</th>
                <th>Show</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>

            {% for item in books %}
                <tr>
                    <td>
                        <div class="d-flex align-items-center">{{ item.id }}</div>
                    </td>
                    <td><p class="fw-normal mb-1">{{ item.title }}</p></td>
                    <td><p class="fw-normal mb-1">{{ item.year }}</p></td>
                    <td><p class="fw-normal mb-1">{{ item.isbn }}</p></td>
                    <td><p class="fw-normal mb-1">{{ item.listCount }}</p></td>
                    <td><a href="/book/item/{{ item.id }}">Посмотреть</a></td>
                    <td><a href="/book/delete/{{ item.id }}">Удалить</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock %}

