{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <div class="container">

        <div style="display: flex; margin: 20px 0 20px 0;">

            <h5 style="font-style: italic"> {{ title }}: {{ book.title }}</h5>

            <div style="margin-left: auto">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-mdb-toggle="modal"
                        data-mdb-target="#bookModalFormContainer">
                        Редактировать
                </button>

                <!-- Modal -->
                <div class="modal fade" id="bookModalFormContainer" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <form action="/book/update/{{ book.id }}"
                              id="sendBookForm" method="post" enctype="multipart/form-data" >
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Добавить книгу</h5>
                                    <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-outline">
                                        <input type="text" id="title" value="{{ book.title }}" name="title" class="form-control"/>
                                        <label class="form-label" for="title">Название</label>
                                    </div>

                                    <div class="form-outline" style="margin: 10px 0 10px 0">
                                        <input type="text" id="year" value="{{ book.year }}"  name="year" class="form-control"/>
                                        <label class="form-label" for="year">Год</label>
                                    </div>

                                    <div class="form-outline" style="margin: 10px 0 10px 0" >
                                        <input type="text" id="isbn" value="{{ book.isbn }}"  name="isbn" class="form-control"/>
                                        <label class="form-label" for="isbn">ISBN</label>
                                    </div>

                                    <div class="form-outline" style="margin: 10px 0 10px 0">
                                        <input type="text" id="list_count" value="{{ book.listCount }}"  name="list_count" class="form-control"/>
                                        <label class="form-label" for="list_count">Кол / страниц</label>
                                    </div>

                                    <input type="hidden"  value="{{ book.iconUrl }}" name="hidden_icon_url" />

                                    <div class="form-outline" style="display: flex; margin: 10px 0 10px 0">
                                        <label class="form-label" for="icon_url" style="width: 40%; padding-left: 10px">Иконка</label>
                                        <input type="file" class="form-control" id="icon_url" value="" name="icon_url"
                                               style="width: 60%; margin-left-left: auto"/>
                                    </div>

                                    <div class="form-outline select-wrapper" style="display: flex; " >
                                        <label class="form-label select-label" style="width: 20%; padding-left: 10px" > Авторы </label>
                                        <select class="select" name="authors_id[]" value="" multiple
                                                style="width: 80%; height:250px; padding:5px; margin-left: auto; border-radius: 4px; border: 1px gainsboro solid">
                                                <option value="">Выбрать авторов</option>
                                                {% for item in authors %}
                                                    <option value="{{ item.id }}">{{ item.name }}  {{ item.surname }}</option>
                                                {% endfor %}
                                        </select>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                                    <button onclick="updateBook(event, '#sendBookForm', {{ book.id }})" type="submit" class="btn btn-primary">Сохранить</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>

        <div class="card" >
            <div class="card-body" style="display: flex">
                <div>
                    <img src="/uploads/{{ book.iconUrl }}" class="card-img-top" alt=""
                         style="width: 200px; border-radius: 0px; margin-bottom: 20px"/>
                    <h5 class="card-title"> {{ book.title }}</h5>
                    <p class="card-text"> Год: {{ book.year }}</p>
                    <p class="card-text"> ISBN: {{ book.isbn }}</p>
                    <p class="card-text"> Кол / страниц: {{ book.listCount }}</p>
                </div>
                <div style="margin-left: 40px; padding-left: 40px; border-left: 1px gainsboro solid">
                    <h5 class="card-title"> Авторы </h5>
                    <ul>
                        {% for item in book.authors %}
                          <li> {{ item.name }} {{ item.surname }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
