
.validate-error-box {
   font-size: 9px; color:red;
   text-align: right;
   position: absolute;
   margin: -3px 0px 0px 0px;
   /*border: 1px red solid;*/
   right: 5px;
}

.model-response-message {
   color:red; margin-bottom:0px;
}

.response-success-message {
   color:green; margin: 5px;
}